#calculadora {
    width: 270px;
}

#botoes {
    grid: 30px;
}

#tela {
    border: 1px solid #ccc;
    width: 235px;
    height: 30px;
    padding: 10px;
    font-size: 28px;
    overflow: scroll;
}

button {
    width: 60px;
    height: 60px;
    margin-top: 5px;
}